        <div class="container profile-container">
            <div class="row">
                <div class="col-sm-6 personal-brand">
                    <div class="img mb-4 student-img"></div>
                    <h3>{{student.nombres}} {{student.apellidos}}</h3>
                    <h4>Estudiante</h4>
                </div>
                <div class="col-sm-6 user-info">
                    <p><span class="user-info-lbl">Código: </span> {{student.codigo}}</p>
                    <p><span class="user-info-lbl">Carrera: </span> {{student.carrera}}</p>
                        <p><span class="user-info-lbl">GPA: </span> {{student.gpa}}</p>
                        <p><span class="user-info-lbl">Tutor: </span>{{student.nombres}} {{student.apellidos}}</p>
                    <p><span class="user-info-lbl">Correo Institucional: </span>{{student.correo_institucional}}</p>
                    <p><span class="user-info-lbl">Correo Personal: </span>{{student.correo_personal}}</p>
                    <p><span class="user-info-lbl">Teléfono: </span>{{student.telefono}}</p>
                       <p><span class="user-info-lbl">Periodo de Admisión: </span>{{student.periodo_de_admision}}</p>
                        <p><span class="user-info-lbl">Tipo de Admisión: </span>{{student.tipo_de_admision}}</p>
                        <p><span class="user-info-lbl">Status: </span>{{student.status}}</p>
                </div>
            </div>
        </div>