        <div class="container profile-container">
            <div class="row">
                <div class="col-sm-6 personal-brand">
                    {{#if student.imagen}}
                        <img id="userImg" class="img mb-4" src="/img/tmp/{{student.nombreImagen}}">
                    {{else}}
                        <img id="userImg" class="img mb-4" src="/img/unknown-user-avatar">
                    {{/if}}

                    <h3>{{student.nombres}} {{student.apellidos}}</h3>
                    <h4>Estudiante</h4>
                </div>
                <div class="col-sm-6 user-info">
                    <p><span class="user-info-lbl">Código: </span> {{student.codigo}}</p>
                    <p><span class="user-info-lbl">Carrera: </span> {{student.carrera}}</p>
                        <p><span class="user-info-lbl">GPA: </span> {{gpa}}</p>
                        <p><span class="user-info-lbl">Tutor: </span>{{student.nombres}} {{student.apellidos}}</p>
                    <p><span class="user-info-lbl">Correo Institucional: </span>{{student.correoInstitucional}}</p>
                    <p><span class="user-info-lbl">Correo Personal: </span>{{student.correoPersonal}}</p>
                    <p><span class="user-info-lbl">Teléfono: </span>{{student.telefono}}</p>
                       <p><span class="user-info-lbl">Periodo de Admisión: </span>{{student.periodoDeAdmision}}</p>
                        <p><span class="user-info-lbl">Tipo de Admisión: </span>{{student.tipoDeAdmision}}</p>
                        <p><span class="user-info-lbl">Status: </span>{{student.status}}</p>
                </div>
            </div>
        </div>