        <div class="container profile-container">
            <div class="row">
                <div class="col-sm-6 personal-brand">
                    {{#if user.imagen}}
                        <img id="userImg" class="img mb-4" src="/img/tmp/{{user.nombreImagen}}">
                    {{else}}
                        <img id="userImg" class="img mb-4" src="/img/unknown-user-avatar">
                    {{/if}}
                    <h3>{{user.nombres}} {{user.apellidos}}</h3>
                    <h4>{{role.nombre}}</h4>
                </div>
                <div class="col-sm-6 user-info">
                    <p><span class="user-info-lbl">Código: </span> {{user.codigo}}</p>
                    {{#if isStudent }}
                        <p><span class="user-info-lbl">Carrera: </span> {{studentInfo.carrera}}</p>
                        <p><span class="user-info-lbl">GPA: </span> {{gpa}}</p>
                        <p><span class="user-info-lbl">Tutor: </span>{{tutor.nombres}} {{tutor.apellidos}}</p>
                    {{/if}}
                    <p><span class="user-info-lbl">Correo Institucional: </span>{{user.correoInstitucional}}</p>
                    <p><span class="user-info-lbl">Correo Personal: </span>{{user.correoPersonal}}</p>
                    <p><span class="user-info-lbl">Teléfono: </span>{{user.telefono}}</p>
                    {{#if isStudent}}
                        <p><span class="user-info-lbl">Periodo de Admisión: </span>{{studentInfo.periodoDeAdmision}}</p>
                        <p><span class="user-info-lbl">Tipo de Admisión: </span>{{studentInfo.tipoDeAdmision}}</p>
                        <p><span class="user-info-lbl">Status: </span>{{studentInfo.status}}</p>
                    {{/if}}
                </div>
            </div>
        </div>