<div class="admin-container container-fluid">
    <div class="current-semester-form">
        <h2>Semestre Actual</h2>
        <p>Para actualizar el semestre actual seleccionalo dentro de las opciones presentadas y aplasta en el botón para completar el proceso.</p>
        <form action="/admin/current-semester" method="POST">
            <div class="row semester-selection-container">
                <div class="semester-selection semester-item col-3">
                    <select id="semesterSelection" name="semester" class="custom-select">
                    {{#each semesters}}
                    <option value="{{this.id}}" {{#if this.currentSemester}}selected{{/if}}>{{this.semestre}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="btn-container semester-item col-3">
                    <button class="btn btn-secondary">Semestre Actual</button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex align-items-center">
        <h2>Usuarios Registrados</h2>
    </div>
    <div class="table-responsive users-table-container scrollable-container">
        <table id="usersTable" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Correo Institucional</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo Personal</th>
                    <th>Teléfono</th>
                    <th>Roles</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.codigo}}</td>
                    <td>{{this.correoInstitucional}}</td>
                    <td>{{this.nombres}}</td>
                    <td>{{this.apellidos}}</td>
                    <td>{{this.correoPersonal}}</td>
                    <td>{{this.telefono}}</td>
                    <td>{{this.rolesText}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#usersTable").DataTable({
            "lengthMenu":  [5, 10, 20, 30]
        });
        //$(".meetings-length").addClass("bs-select");
    })
</script>