<div class="admin-home-container admin-container container-fluid">
    <div class="page-header">
        <h1>Admin Dashboard</h1>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="current-semester-form">
                <h2>Semestre Actual</h2>
                <p>Para actualizar el semestre actual seleccionalo dentro de las opciones presentadas y aplasta en el botón para completar el proceso.</p>
                <form action="/admin/current-semester" method="POST">
                    <div class="row semester-selection-container">
                        <div class="semester-selection semester-item col-3">
                            <select id="semesterSelection" name="semester" class="custom-select">
                            {{#each semesters}}
                            <option value="{{this.id}}" {{#if this.currentSemester}}selected{{/if}}>{{this.semestre}}</option>
                            {{/each}}
                            </select>
                        </div>
                        <div class="btn-container semester-item col-3">
                            <button class="btn btn-secondary">Semestre Actual</button>
                        </div>
                    </div>
                </form>
            </div>
            <h2>Usuarios Registrados</h2>
            <div class="users-table-container scrollable-container">
                <table id="usersTable" class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Código</th>
                            <th>Correo Institucional</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Correo Personal</th>
                            <th>Teléfono</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.codigo}}</td>
                            <td>{{this.correoInstitucional}}</td>
                            <td>{{this.nombres}}</td>
                            <td>{{this.apellidos}}</td>
                            <td>{{this.correoPersonal}}</td>
                            <td>{{this.telefono}}</td>
                            <td>{{this.rolesText}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">
            <h2>Carreras</h2>
            <div class="careers-table-container scrollable-container">
                <table id="careersTable" class="table table-striped table-responsive">
                    <tbody>
                        {{#each careers}}
                        <tr>
                            <td>{{this.carrera}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#usersTable").DataTable({
            "lengthMenu":  [5, 10, 20, 30],
            "pagingType": "full_numbers",
            "language": {
                "emptyTable": "No existen datos que mostrar.",
                "info": "_END_ de _TOTAL_ filas",
                "infoEmpty": "0 de 0 filas",
                "lengthMenu":     "Mostrar _MENU_ filas",
                "loadingRecords": "Cargando datos...",
                "processing":     "Procesando datos...",
                "search":         "Buscar:",
                "zeroRecords":    "No se encontraron registros de acuerdo a la busqueda.",
                "paginate": {
                    "first": "Primero",
                    "previous": "Anterior &lt",
                    "next": "Siguiente &gt",
                    "last": "Último"
                }
            }
        });
        //$(".meetings-length").addClass("bs-select");
    })
</script>