<div class="admin-users-container">
    <div class="page-header">
        <h1>Usuarios</h1>
    </div>
    <h2>Agregar Usuarios</h2>
    <p>Para agregar nuevos usuarios debes subir un archivo por cada rol y envíar los cambios. Se puede subir uno o multiples archivos.</p>
    <div class="form-container add-users-form">
        <form action="/admin/add-users" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="decanosInput">Decanos</label>
                    <input type="file" name="deansFile" id="decanosInput" class="file-input border"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="profesoresInput">Profesores</label>
                    <input type="file" name="professorsFile" id="profesoresInput" class="file-input border"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="estudiantesInput">Estudiantes</label>
                    <input type="file" name="studentsFile" id="estudiantesInput" class="file-input border"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="adminsInput">Administradores</label>
                    <input type="file" name="adminsFile" id="adminsInput" class="file-input border"/>
                </div>
            </div>
            <div class="btn-container">
                <button type="submit" class="btn btn-primary">Enviar Cambios</button>
            </div>
        </form>
    </div>
    <h2>Usuarios Registrados</h2>
    <div class="table-responsive users-table-container scrollable-container">
        <table id="usersTable" class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Correo Institucional</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo Personal</th>
                    <th>Teléfono</th>
                    <th>Roles</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.codigo}}</td>
                    <td>{{this.correoInstitucional}}</td>
                    <td>{{this.nombres}}</td>
                    <td>{{this.apellidos}}</td>
                    <td>{{this.correoPersonal}}</td>
                    <td>{{this.telefono}}</td>
                    <td>{{this.rolesText}}</td>
                    {{#if (is this.id 1)}}
                    <td></td>
                    <td></td>
                    {{else}}
                    <td><a href="/admin/edit-user/{{this.id}}">Editar</a></td>
                    <td><a href="/admin/delete-user/{{this.id}}">Eliminar</a></td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#usersTable").DataTable({
            "lengthMenu":  [5, 10, 20, 30]
        });
        //$(".meetings-length").addClass("bs-select");
    })
</script>